.editor-view {
    display: flex;

    background: url(http://upload.wikimedia.org/wikipedia/commons/2/24/Transparent_Square_Tiles_Texture.png);
}

.card {
    margin: auto;

    flex: none;
    width: 550px;
    height: 300px;

    padding: 20px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    /*background: #2C2C2C;*/
    color: #FFFFFF;
    overflow: hidden;
}

.cardMovingElements {
    display: inline-block;
    cursor: move;
}

.cardMovingElements:hover {
    border-width: 1px;
    border-style: solid;
    opacity: 0.75;
}

.profilePic {
    width: 150px;
    height: 150px;
    position: relative;
    top:0;
    right: 0;
    background-image: url("default-profile.png");
    background-size: cover;
    display: none;
}

.companyPic {
    max-width: 510px;
    max-height: 260px;
    width: 100px;
    position: relative;
    /*background-image: url("http://38.media.tumblr.com/d86ab349a77b2eff8ae534d1b1d5fa0b/tumblr_inline_n084l6sF6L1rh8rjh.png");*/
    display: none;
    background-size: cover;
}

.valueColorBox {
    width: 23px;
    height: 23px;
    /* display: inline; */
    background-color: red;
    float: left;
    margin-top: 10px;
    padding: 4px;
    border: 0;
    border-radius: 4px;
    margin-left: 7px;
    cursor: pointer;
}

.valueColorBox:hover {
  /*box-shadow: inset 0 0 0 2px #1c1c1c;*/
  opacity: 0.75;
}

.editor-panel .color-widget > .widget-wrapper .value {
    width: 87.9%;
    float: left;
}

.editor-panel .color-widget > .widget-wrapper {
     min-height: 0; 
}

/*.removeButton{
    width : 24px;
}

.widget.button-widget.removeButton button{
    width : 24px;
}*/

.text-widget .value {
    background-color: #777777;
    color: white !important;
    border-radius: 4px;
    width: 100%;
    border: 0;
    padding: 4px;
}

.textarea-widget .value {
    background-color: #777777;
    color: white !important;
    border-radius: 4px;
    width: 100%;
    border: 0;
    padding: 4px;
    resize:vertical;
}

.label-widget {
    padding-top: 2px;
}

.contactInfo {
    white-space: pre-wrap;
}

.editor-panel {
    overflow-y: scroll;
}

.verticalSection {
    display: block;
    padding: 6px;
    background-color: #424242;
}