<!DOCTYPE HTML>
<html>

    <head>

        <meta charset="UTF-8">
        <title>Sketchfab Widgets</title>

        <link rel="stylesheet" href="https://d2f25wgezub9nf.cloudfront.net/1.31.0/vendors/Normalize-dc2abc.css" />
        <link rel="stylesheet" href="https://d2f25wgezub9nf.cloudfront.net/1.31.0/styles/editor-106cc9.css" />
        <style>.editor-panel, .editor-view { padding-top: 0 }</style>
        <link rel="stylesheet" href="style.css" />

        <script data-main="sources/main" src="sources/vendors/require.2.1.13.js"></script>

    </head>

    <body>
        <div class="editor">
            <div class="editor-panel">
            </div>
            <div class="editor-view">
                <div class="card">
                    <div class="name">Maël Nison</div>
                    <div class="job">Frontend Developer</div>
                </div>
            </div>
        </div>
    </body>

</html>
