h1 {
  font-family: 'Titillium Web', sans-serif;
}

body, p {
  font-family: 'Open Sans', sans-serif;
}

.label {
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
